
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_User.cshtml";
}
@if(ViewBag.User != null)
{
<h2>ChangePassword</h2>
<form method="post" action="">
    <table>
        <tr>
            <td>Старый пароль:</td>
            <td><input type="password" name="oldPassword" /></td>
        </tr>
        <tr>
            <td>Новый пароль:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Подтвердите пароль:</td>
            <td><input type="password" name="confirm" /></td>
        </tr>
        <tr>
            <td colspan="2" style="color: red;">@ViewBag.Error</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Изменить" /></td>
        </tr>
    </table>
</form>
}
else
{
}