@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h3>Список загруженных файлов</h3>
        <table>
            <tr>
                <td>Имя файла</td>
                <td>Пользователь</td>
            </tr>
            @foreach(InformationSecurity.Models.File file in ViewBag.Files)
            {
                <tr>
                    <td>@file.Name</td>
                    <td>@ViewBag.Users.Find(file.UserId).Name</td>
                </tr>
            }
        </table>
    </div>