<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <nav>
        <button onclick="window.location='/Home/SignUp';">Зарегестрироваться</button>
        <button onclick="window.location='/Home/Login';">Войти</button>
    </nav>
    @RenderBody()
</body>
</html>